doctype //if lt IE 8
html.no-js.lt-ie10.lt-ie9.lt-ie8  
//if IE 8
html.no-js.lt-ie10.lt-ie9  
//if IE 9
  html.no-js.lt-ie10  
// [if gt IE 8] <!
|  
html.no-js
  // <![endif]
  // Mirrored from www.proteusthemes.com/themes/webmarket-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Aug 2015 15:42:43 GMT
  head
    meta(charset='utf-8')
    title Future Tech - Home Page
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='ProteusThemes')
    |  
    script(type='text/javascript').
      WebFontConfig = {
      google : {
      families : ['Open+Sans:400,700,400italic,700italic:latin,latin-ext,cyrillic', 'Pacifico::latin']
      }
      };
      (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
      })();
    |  
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/responsive.css', rel='stylesheet')
    |  
    link(rel='stylesheet', href='js/rs-plugin/css/settings.css', type='text/css')
    |  
    link(rel='stylesheet', href='js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css', type='text/css')
    |  
    link(rel='stylesheet', href='js/prettyphoto/css/prettyPhoto.css', type='text/css')
    |  
    link(href='stylesheets/main.css', rel='stylesheet')
    |  
    link(href='stylesheets/stylenew.css', rel='stylesheet')
    |  
    script(src='js/modernizr.custom.56918.js')
    |  
    link(rel='apple-touch-icon-precomposed', sizes='144x115', href='images/apple-touch/icon.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x91', href='images/apple-touch/icon.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x58', href='images/apple-touch/icon.png')
    link(rel='apple-touch-icon-precomposed', href='images/apple-touch/icon.png')
    link(rel='shortcut icon', href='images/apple-touch/icon.png')
    .master-wrapper
      header#header
        .darker-row
          .container
            .row
              .span8
                .topmost-line
                  .higher-line
                    a.gray-link(href='my-account.html') My account
                    | &nbsp; | &nbsp;
                    a.gray-link(href='my-account.html') Wishlist (2)
                    | &nbsp; | &nbsp;
                    a.gray-link(href='checkout-step-1.html') Checkout
                  | &nbsp;
                  .lang-currency
                    .dropdown.js-selectable-dropdown
                      a.selected(data-toggle='dropdown', href='#')
                        span.js-change-text
                          i.famfamfam-flag-gb
                          |  English (EN)
                        |  
                        b.caret
                      ul.dropdown-menu.js-possibilities(role='menu', aria-labelledby='dLabel')
                        li
                          a(href='#')
                            i.famfamfam-flag-gb
                            |  English (EN)
                        li
                          a(href='#')
                            i.famfamfam-flag-si
                            |  Slovenian (SI)
                        li
                          a(href='#')
                            i.famfamfam-flag-de
                            |  German (DE)
                        li
                          a(href='#')
                            i.famfamfam-flag-fr
                            |  French (FR)
                        li
                          a(href='#')
                            i.famfamfam-flag-es
                            |  Spanish (ES)
                    .dropdown.js-selectable-dropdown
                      a.selected(data-toggle='dropdown', href='#')
                        span.js-change-text USD ($)
                        |  
                        b.caret
                      ul.dropdown-menu.js-possibilities(role='menu', aria-labelledby='dLabel')
                        li
                          a(href='#') USD ($)
                        li
                          a(href='#') EUR (&euro;)
                        li
                          a(href='#') YEN (&yen;)
                        li
                          a(href='#') GBP (&pound;)
        .container
          .row
            .span7
              a.brand(href='index-2.html')
                img(src='images/logo.png', alt='Webmarket Logo', width='48', height='48')
                span.bamf Future Tech
                span.tagline C&ocirc;ng ngh&#x1EC7; t&#x1B0;&#x1A1;ng lai trong t&#x1EA7;m tay b&#x1EA1;n!
            |  
            |  
            |  
            .span5
              .top-right
                .higher-line
                  | Kh&aacute;ch h&agrave;ng m&#x1EDB;i! 
                  br
                  a(href='#registerModal', role='button', data-toggle='modal') &Dstrok;&abreve;ng k&yacute;
                  |  //
                  a(href='#loginModal', role='button', data-toggle='modal') &Dstrok;&abreve;ng nh&#x1EAD;p
      |  
      |  
      |  
      #stickyNavbar.navbar.navbar-static-top
        .navbar-inner
          .container
            .row
              .span9
                button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                |  
                |  
                |  
                .nav-collapse.collapse
                  ul#mainNavigation.nav
                    li.active
                      a(href='index-2.html') C&#x1EED;a h&agrave;ng 
                    //
                      <li>
                      <a href="shop.html">Cửa hàng</a>
                      </li>
                    li.dropdown
                      a.dropdown-toggle(href='shop.html')
                        | &Dstrok;i&#x1EC7;n tho&#x1EA1;i 
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='shop.html') Apple
                        li
                          a(href='shop.html') Sony
                        li
                          a(href='shop.html') Samsung
                        li
                          a(href='shop.html') Blackberry
                    li.dropdown
                      a.dropdown-toggle(href='shop.html')
                        | M&aacute;y t&iacute;nh b&#x1EA3;ng 
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='shop.html') Ipad
                        li
                          a(href='shop.html') Microsoft
                        li
                          a(href='shop.html') Android
                        li
                          a(href='shop.html') 404 Page
                    li.dropdown
                      a.dropdown-toggle(href='shop.html')
                        | Laptop 
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='shop.html') Macbook
                        li
                          a(href='shop.html') Bussines
                    li.dropdown
                      a.dropdown-toggle(href='shop.html')
                        | Ph&#x1EE5; ki&#x1EC7;n 
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='shop.html') &Acirc;m thanh
                        li
                          a(href='shop.html') S&#x1EA1;c d&#x1EF1; ph&ograve;ng
                        li
                          a(href='shop.html') L&#x1B0;u tr&#x1EEF;
                        li
                          a(href='shop.html') Apple
                    li.dropdown
                      a.dropdown-toggle(href='blog.html')
                        | Tin t&#x1EE9;c 
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='blog.html') C&ocirc;ng ngh&#x1EC7;
                        li
                          a(href='blog-single.html') Tuy&#x1EC3;n d&#x1EE5;ng
                  |  
                  |  
                  |  
                  form.navbar-form.pull-right(action='#', method='get')
                    button(type='submit')
                      span.icon-search
                    input#navSearchInput.span1(type='text', name='search')
              |  
              |  
              |  
              .span3
                #cartContainer.cart-container
                  .cart
                    p.items
                      | CART 
                      span.dark-clr (3)
                    p.dark-clr.hidden-tablet $1816.90
                    a.btn.btn-danger(href='checkout-step-1.html')
                      i.icon-shopping-cart
                  .open-panel
                    .item-in-cart.clearfix
                      .image
                        img(src='images/dummy/cart-items/cart-item-1.jpg', width='124', height='124', alt='cart item')
                      .desc
                        strong
                          a(href='product.html') Adipiscing Vel Vel Felis
                        span.light-clr.qty
                          | Qty: 1
                          a.icon-remove-sign(href='#', title='Remove Item')
                      .price
                        strong $5914
                    .item-in-cart.clearfix
                      .image
                        img(src='images/dummy/cart-items/cart-item-2.jpg', width='124', height='124', alt='cart item')
                      .desc
                        strong
                          a(href='product.html') Adipiscing Sed Ac Felis Ut
                        span.light-clr.qty
                          | Qty: 1
                          a.icon-remove-sign(href='#', title='Remove Item')
                      .price
                        strong $4644
                    .item-in-cart.clearfix
                      .image
                        img(src='images/dummy/cart-items/cart-item-3.jpg', width='124', height='124', alt='cart item')
                      .desc
                        strong
                          a(href='product.html') Amet Sed Nisi
                        span.light-clr.qty
                          | Qty: 1
                          a.icon-remove-sign(href='#', title='Remove Item')
                      .price
                        strong $5059
                    .summary
                      .line
                        .row-fluid
                          .span6 Shipping:
                          .span6.align-right $4.99
                      .line
                        .row-fluid
                          .span6 Subtotal:
                          .span6.align-right.size-16 $357.81
                    .proceed
                      a.btn.btn-danger.pull-right.bold.higher(href='checkout-step-1.html')
                        | CHECKOUT 
                        i.icon-shopping-cart
                      small
                        | Shipping costs are calculated based on location. 
                        a(href='#') More information
      |   
      |  
      |  
      |  
      .fullwidthbanner-container
        .fullwidthbanner
          ul
            li(data-transition='premium-random', data-slotamount='3')
              img(src='images/dummy/slides/1/slide.jpg', alt='slider img', width='1400', height='377')
              |  
              .caption.lft.ltt(data-x='570', data-y='50', data-speed='4000', data-start='1000', data-easing='easeOutElastic')
                img(src='images/dummy/slides/1/baloon1.png', alt='baloon', width='135', height='186')
              .caption.lft.ltt(data-x='770', data-y='60', data-speed='4000', data-start='1200', data-easing='easeOutElastic')
                img(src='images/dummy/slides/1/baloon3.png', alt='baloon', width='40', height='55')
              .caption.lft.ltt(data-x='870', data-y='80', data-speed='4000', data-start='1500', data-easing='easeOutElastic')
                img(src='images/dummy/slides/1/baloon2.png', alt='baloon', width='60', height='83')
              |  
              .caption.lfl.big_theme(data-x='120', data-y='120', data-speed='1000', data-start='500', data-easing='easeInOutBack')
                | With Webmarket, the Sky Is the Limit
              .caption.lfl.small_theme(data-x='120', data-y='190', data-speed='1000', data-start='700', data-easing='easeInOutBack')
                | Take a tour on Webmarket HTML Template
              a.caption.lfl.btn.btn-primary.btn_theme(href='features.html', data-x='120', data-y='260', data-speed='1000', data-start='900', data-easing='easeInOutBack')
                | ALL THEME FEATURES
            |  
            li(data-transition='premium-random', data-slotamount='3')
              img(src='images/dummy/slides/2/slide.jpg', alt='slider img', width='1400', height='377')
              |  
              .caption.lfb.ltb(data-x='800', data-y='50', data-speed='1000', data-start='1000', data-easing='easeInOutCubic')
                img(src='images/dummy/slides/2/woman.png', alt='woman', width='361', height='374')
              |  
              .caption.lfl.str(data-x='400', data-y='20', data-speed='10000', data-start='1000', data-easing='linear')
                img(src='images/dummy/slides/2/plane.png', alt='aircraft', width='117', height='28')
              |  
              .caption.lfl.big_theme(data-x='120', data-y='120', data-speed='1000', data-start='500', data-easing='easeInOutBack')
                | Slider Revolution
              .caption.lfl.small_theme(data-x='120', data-y='190', data-speed='1000', data-start='700', data-easing='easeInOutBack')
                | This premium slider comes with the theme, as a bonus, for FREE!
              a.caption.lfl.btn.btn-primary.btn_theme(href='features.html', data-x='120', data-y='260', data-speed='1000', data-start='900', data-easing='easeInOutBack')
                | AND MANY MORE ...
            |  
            li(data-transition='premium-random', data-slotamount='3')
              img(src='images/dummy/slides/3/slide.jpg', alt='slider img', width='1400', height='377')
              |  
              .caption.sfr.fadeout(data-x='950', data-y='77', data-speed='1000', data-start='2500', data-easing='easeInOutCubic')
                img(src='images/dummy/slides/3/phone.png', alt='phone in a hand', width='495', height='377')
              |  
              .caption.lfl.big_theme(data-x='120', data-y='120', data-speed='1000', data-start='500', data-easing='easeInOutBack')
                | We Are Mobile Ready
              .caption.lfl.small_theme(data-x='120', data-y='190', data-speed='1000', data-start='700', data-easing='easeInOutBack')
                | Try to resize the browser window. The Webmarket will look awesome no matter the device screen resolution!
              a.caption.lfl.btn.btn-primary.btn_theme(href='icons.html', data-x='120', data-y='260', data-speed='1000', data-start='900', data-easing='easeInOutBack')
                | And also all the icons are retina-ready...
            |  
            li(data-transition='premium-random', data-slotamount='3')
              img(src='images/dummy/slides/4/slide.jpg', alt='slider img', width='1400', height='377')
              |  
              .caption.lft.ltt(data-x='-150', data-y='0', data-speed='300', data-start='2000', data-easing='easeInOutCubic')
                img(src='images/dummy/slides/4/person1.png', alt='satisfied customer', width='108', height='204')
              .caption.lft.ltt(data-x='0', data-y='0', data-speed='300', data-start='2200', data-easing='easeInOutCubic')
                img(src='images/dummy/slides/4/person2.png', alt='satisfied customer', width='108', height='321')
              .caption.lft.ltt(data-x='500', data-y='0', data-speed='300', data-start='2400', data-easing='easeInOutCubic')
                img(src='images/dummy/slides/4/person3.png', alt='satisfied customer', width='108', height='139')
              .caption.lft.ltt(data-x='720', data-y='0', data-speed='300', data-start='2600', data-easing='easeInOutCubic')
                img(src='images/dummy/slides/4/person4.png', alt='satisfied customer', width='108', height='191')
              .caption.lft.ltt(data-x='940', data-y='0', data-speed='300', data-start='2800', data-easing='easeInOutCubic')
                img(src='images/dummy/slides/4/person5.png', alt='satisfied customer', width='108', height='139')
              .caption.lft.ltt(data-x='1200', data-y='0', data-speed='300', data-start='3000', data-easing='easeInOutCubic')
                img(src='images/dummy/slides/4/person6.png', alt='satisfied customer', width='108', height='179')
              .caption.lft.ltt(data-x='1350', data-y='0', data-speed='300', data-start='3200', data-easing='easeInOutCubic')
                img(src='images/dummy/slides/4/person7.png', alt='satisfied customer', width='108', height='133')
              |  
              .caption.lfl.big_theme(data-x='120', data-y='140', data-speed='1000', data-start='500', data-easing='easeInOutBack')
                | Over 1000 Satisfied Customers
              .caption.lfl.small_theme(data-x='120', data-y='210', data-speed='1000', data-start='700', data-easing='easeInOutBack')
                | Take a look at our profile page on the 
                a(href='http://themeforest.net/user/ProteusThemes', target='_blank') ThemeForest
                | !
              a.caption.lfl.btn.btn-primary.btn_theme(href='http://support.proteusthemes.com/', data-x='120', data-y='280', data-speed='1000', data-start='900', data-easing='easeInOutBack')
                | We provide support
          .tp-bannertimer
        |  
        |  
        |  
        #sliderRevLeft
          i.icon-chevron-left
        #sliderRevRight
          i.icon-chevron-right
      |   
      |  
      |  
      |  
      .container
        .row
          .span12
        |  
        |  
        |  
        .row.featured-items.blocks-spacer
          .span12
            .main-titles.lined
              h2.title
                span.light Featured
                |  Products
              .arrows
                a#featuredItemsLeft.icon-chevron-left(href='#')
                a#featuredItemsRight.icon-chevron-right(href='#')
          .span12
            .carouFredSel(data-autoplay='false', data-nav='featuredItems')
              .slide
                .row
                  .span4
                    .product
                      .product-img.featured
                        .picture
                          a(href='product.html')
                            img(src='images/dummy/featured-products/featured-1.png', alt='', width='518', height='358')
                          .img-overlay
                            a.btn.more.btn-primary(href='product.html') More
                            a.btn.buy.btn-danger(href='#') Buy
                      .main-titles
                        h4.title $62
                        h5.no-margin
                          a(href='product.html') Horsefeathers 610
                      p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  |   
                  |  
                  |  
                  |  
                  .span4
                    .product
                      .product-img.featured
                        .picture
                          a(href='product.html')
                            img(src='images/dummy/featured-products/featured-2.png', alt='', width='518', height='358')
                          .img-overlay
                            a.btn.more.btn-primary(href='product.html') More
                            a.btn.buy.btn-danger(href='#') Buy
                      .main-titles
                        h4.title $101
                        h5.no-margin
                          a(href='product.html') Horsefeathers 358
                      p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  |   
                  |  
                  |  
                  |  
                  .span4
                    .product
                      .product-img.featured
                        .picture
                          a(href='product.html')
                            img(src='images/dummy/featured-products/featured-3.png', alt='', width='518', height='358')
                          .img-overlay
                            a.btn.more.btn-primary(href='product.html') More
                            a.btn.buy.btn-danger(href='#') Buy
                      .main-titles
                        h4.title $38
                        h5.no-margin
                          a(href='product.html') Horsefeathers 409
                      p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
              .slide
                .row
                  .span4
                    .product
                      .product-img.featured
                        .picture
                          a(href='product.html')
                            img(src='images/dummy/featured-products/featured-1.png', alt='', width='518', height='358')
                          .img-overlay
                            a.btn.more.btn-primary(href='product.html') More
                            a.btn.buy.btn-danger(href='#') Buy
                      .main-titles
                        h4.title $62
                        h5.no-margin
                          a(href='product.html') Horsefeathers 768
                      p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  |   
                  |  
                  |  
                  |  
                  .span4
                    .product
                      .product-img.featured
                        .picture
                          a(href='product.html')
                            img(src='images/dummy/featured-products/featured-2.png', alt='', width='518', height='358')
                          .img-overlay
                            a.btn.more.btn-primary(href='product.html') More
                            a.btn.buy.btn-danger(href='#') Buy
                      .main-titles
                        h4.title $40
                        h5.no-margin
                          a(href='product.html') Horsefeathers 304
                      p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  |   
                  |  
                  |  
                  |  
                  .span4
                    .product
                      .product-img.featured
                        .picture
                          a(href='product.html')
                            img(src='images/dummy/featured-products/featured-3.png', alt='', width='518', height='358')
                          .img-overlay
                            a.btn.more.btn-primary(href='product.html') More
                            a.btn.buy.btn-danger(href='#') Buy
                      .main-titles
                        h4.title $93
                        h5.no-margin
                          a(href='product.html') Horsefeathers 257
                      p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
      |   
      |  
      |  
      |  
      .boxed-area.blocks-spacer
        .container
          .row
            .span12
              .main-titles.lined
                h2.title
                  span.light New
                  |  Products in the Shop
          |   
          .row.popup-products.blocks-spacer
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/products/product-6.jpg', alt='', width='540', height='374')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 475
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
            |   
            |  
            |  
            |  
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/products/product-7.jpg', alt='', width='540', height='374')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 120
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star
                      span.icon-star
                      span.icon-star
            |   
            |  
            |  
            |  
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/products/product-8.jpg', alt='', width='540', height='374')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 86
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
            |   
            |  
            |  
            |  
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/products/product-9.jpg', alt='', width='540', height='374')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 66
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star
            |   
            .clearfix
            |   
            |  
            |  
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/products/product-10.jpg', alt='', width='540', height='374')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 78
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
            |   
            |  
            |  
            |  
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/products/product-11.jpg', alt='', width='540', height='374')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 223
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star
                      span.icon-star
                      span.icon-star
            |   
            |  
            |  
            |  
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/products/product-12.jpg', alt='', width='540', height='374')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 309
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star
                      span.icon-star
            |   
            |  
            |  
            |  
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/products/product-13.jpg', alt='', width='540', height='374')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 432
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star
      |   
      |  
      |  
      |  
      .most-popular.blocks-spacer
        .container
          .row
            .span12
              .main-titles.lined
                h2.title
                  span.light Most
                  |  Popular Products
          |   
          .row.popup-products
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/most-popular-products/popular-1.jpg', alt='', width='540', height='412')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 169
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star
            |   
            |  
            |  
            |  
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/most-popular-products/popular-2.jpg', alt='', width='540', height='412')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 222
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star
            |   
            |  
            |  
            |  
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/most-popular-products/popular-3.jpg', alt='', width='540', height='412')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 166
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star
            |   
            |  
            |  
            |  
            .span3
              .product
                .product-inner
                  .product-img
                    .picture
                      a(href='product.html')
                        img(src='images/dummy/most-popular-products/popular-4.jpg', alt='', width='540', height='412')
                      .img-overlay
                        a.btn.more.btn-primary(href='product.html') More
                        a.btn.buy.btn-danger(href='#') Add to Cart
                  .main-titles.no-margin
                    h4.title $32
                    h5.no-margin Horsefeathers 338
                  p.desc 59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila
                  .row-fluid.hidden-line
                    .span6
                      a.btn.btn-small(href='#')
                        i.icon-heart
                      a.btn.btn-small(href='#')
                        i.icon-exchange
                    .span6.align-right
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star.stars-clr
                      span.icon-star
                      span.icon-star
      |   
      |  
      |  
      |  
      .darker-stripe.blocks-spacer.more-space.latest-news.with-shadows
        .container
          .row
            .span12
              .main-titles.center-align
                h2.title
                  span#tweetsLeft.clickable.icon-chevron-left
                  |  &nbsp;&nbsp;&nbsp;
                  span.light Latest
                  |  News &nbsp;&nbsp;&nbsp;
                  span#tweetsRight.clickable.icon-chevron-right
          |   
          |  
          |  
          |  
          .row
            .span12
              .carouFredSel(data-nav='tweets', data-autoplay='false')
                .slide
                  .row
                    .span6
                      .news-item
                        .published 12. July, 2013
                        h6
                          a(href='#') Title of the Latest News
                        p
                          | There&apos;s a voice that keeps on calling me. Down the road, that&apos;s where I&apos;ll al ways be. Every stop I make, I make a new friend. Lorem sown the road, that&apos;s where I&apos;ll always be. Every stop I make, I make a new friend.
                    .span6
                      .news-item
                        .published 18. July, 2013
                        h6
                          a(href='#') Another Amusing News
                        p
                          | There&apos;s a voice that keeps on calling me. Down the road, that&apos;s where I&apos;ll al ways be. Every stop I make, I make a new friend. Lorem sown the road, that&apos;s where I&apos;ll always be. Every stop I make, I make a new friend.
                |   
                |  
                |  
                |  
                .slide
                  .row
                    .span6
                      .news-item
                        .published 12. July, 2013
                        h6
                          a(href='#') Title of the Latest News
                        p
                          | There&apos;s a voice that keeps on calling me. Down the road, that&apos;s where I&apos;ll al ways be. Every stop I make, I make a new friend. Lorem sown the road, that&apos;s where I&apos;ll always be. Every stop I make, I make a new friend.
                    .span6
                      .news-item
                        .published 18. July, 2013
                        h6
                          a(href='#') Another Amusing News
                        p
                          | There&apos;s a voice that keeps on calling me. Down the road, that&apos;s where I&apos;ll al ways be. Every stop I make, I make a new friend. Lorem sown the road, that&apos;s where I&apos;ll always be. Every stop I make, I make a new friend.
      |   
      |  
      |  
      |  
      .container.blocks-spacer-last
        .row
          .span12
            .main-titles.lined
              h2.title
                span.light Our
                |  Brands
              .arrows
                a#brandsLeft.clickable.icon-chevron-left
                a#brandsRight.clickable.icon-chevron-right
        |   
        |  
        |  
        |  
        .row
          .span12
            .brands.carouFredSel(data-nav='brands', data-autoplay='true')
              a(href='http://www.proteusthemes.com/')
                img(src='images/dummy/brands/brands_01.jpg', alt='', width='203', height='104')
              a(href='http://www.proteusthemes.com/')
                img(src='images/dummy/brands/brands_02.jpg', alt='', width='203', height='104')
              a(href='http://www.proteusthemes.com/')
                img(src='images/dummy/brands/brands_03.jpg', alt='', width='203', height='104')
              a(href='http://www.proteusthemes.com/')
                img(src='images/dummy/brands/brands_04.jpg', alt='', width='203', height='104')
              a(href='http://www.proteusthemes.com/')
                img(src='images/dummy/brands/brands_05.jpg', alt='', width='203', height='104')
              a(href='http://www.proteusthemes.com/')
                img(src='images/dummy/brands/brands_06.jpg', alt='', width='203', height='104')
      |   
      |  
      |  
      |  
      footer
        .foot-light
          .container
            .row
              .span4
                h2.pacifico
                  | Webmarket &nbsp; 
                  img.align-baseline(src='images/webmarket.png', alt='Webmarket Cart')
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum risus et gravida. Etiam vel augue ligula, blandit malesuada nisi. Quisque a augue nisi. Nullam interdum convallis
              .span4
                .main-titles.lined
                  h3.title Facebook
                .bordered
                  .fill-iframe
                    .fb-like-box(data-href='https://www.facebook.com/ProteusNet', data-width='292', data-height='200', data-colorscheme='dark', data-show-faces='true', data-header='false', data-stream='false', data-show-border='false')
              .span4
                .main-titles.lined
                  h3.title
                    span.light Newsletters
                    |  Signup
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Aliquam tincidunt vestibulum risus et gravida.
                |  
                #mc_embed_signup
                  form#mc-embedded-subscribe-form.validate.form.form-inline(action='http://proteusthemes.us4.list-manage1.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&id=5dad3f35e9', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                    .mc-field-group
                      input#mce-EMAIL.required.email(type='email', value='', placeholder='Enter your e-mail address', name='EMAIL')
                      input#mc-embedded-subscribe.btn.btn-primary(type='submit', value='Send', name='subscribe')
                    #mce-responses.clear
                      #mce-error-response.response(style='display:none')
                      #mce-success-response.response(style='display:none')
        |   
        |  
        |  
        |  
        .foot-dark
          .container
            .row
              .span3
                .main-titles.lined
                  h3.title
                    span.light Main
                    |  Navigation
                ul.nav.bold
                  li
                    a(href='#') Home
                  li
                    a(href='#') Pages
                  li
                    a(href='#') About Us
                  li
                    a(href='#') Shortcodes
                  li
                    a(href='#') Gallery
                  li
                    a(href='#') Contact Us
              |  
              |  
              |  
              .span3
                .main-titles.lined
                  h3.title
                    span.light Second
                    |  Navigation
                ul.nav
                  li
                    a(href='#') Lorem Ipsum Dolor Sit
                  li
                    a(href='#') Amet Webmarket Signup
                  li
                    a(href='#') Brands
                  li
                    a(href='#') Latest Tweets Sometging
                  li
                    a(href='#') Ipsum Sit Lorem Amet
              |  
              |  
              |  
              .span3
                .main-titles.lined
                  h3.title
                    span.light Third
                    |  Navigation
                ul.nav
                  li
                    a(href='#') Lorem Ipsum Dolor Sit
                  li
                    a(href='#') Amet Webmarket Signup
                  li
                    a(href='#') Brands
                  li
                    a(href='#') Latest Tweets Sometging
                  li
                    a(href='#') Ipsum Sit Lorem Amet
              |  
              |  
              |  
              .span3
                .main-titles.lined
                  h3.title
                    span.light Fourth
                    |  Navigation
                .icons
                  a(href='http://www.facebook.com/ProteusNet')
                    span.zocial-facebook
                  a(href='skype:primozcigler?call')
                    span.zocial-skype
                  a(href='https://twitter.com/proteusnetcom')
                    span.zocial-twitter
                  a(href='http://eepurl.com/xFPYD')
                    span.zocial-rss
                  a(href='#')
                    span.zocial-wordpress
                  a(href='#')
                    span.zocial-android
                  a(href='#')
                    span.zocial-html5
                  a(href='#')
                    span.zocial-windows
                  a(href='#')
                    span.zocial-apple
        |   
        |  
        |  
        |  
        .foot-last
          a#toTheTop(href='#')
            span.icon-chevron-up
          .container
            .row
              .span6
                | &copy; Copyright 2013. Images of products by 
                a(target='_blank', href='http://www.horsefeathers.eu/') Horsefeathers
                | .
              .span6
                .pull-right
                  | Webmarket HTML Template by 
                  a(href='http://www.proteusthemes.com/') ProteusThemes
      |   
      |  
      |  
      |  
      |  
      #loginModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3#loginModalLabel
            span.light &Dstrok;&abreve;ng nh&#x1EAD;p
            |  T&agrave;i kho&#x1EA3;n
        .modal-body
          form(method='post', action='#')
            .control-group
              label.control-label.hidden.shown-ie8(for='inputEmail') T&ecirc;n &dstrok;&abreve;ng nh&#x1EAD;p
              .controls
                input#inputEmail.input-block-level(type='text', placeholder='Tên đăng nhập', required='')
            .control-group
              label.control-label.hidden.shown-ie8(for='inputPassword') M&#x1EAD;t kh&#x1EA9;u
              .controls
                input#inputPassword.input-block-level(type='password', placeholder='Mật khẩu', required='')
            .control-group
              .controls
                label.checkbox
                  input(type='checkbox')
                  | Ghi nh&#x1EDB; m&#x1EAD;t kh&#x1EA9;u
            button.btn.btn-primary.input-block-level.bold.higher(type='submit')
              | &Dstrok;&Abreve;NG NH&#x1EAC;P
          p.center-align.push-down-0
            a(data-toggle='modal', role='button', href='#forgotPassModal', data-dismiss='modal') Qu&ecirc;n m&#x1EAD;t kh&#x1EA9;u?
      |  
      #registerModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='registerModalLabel', aria-hidden='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3#registerModalLabel
            span.light &Dstrok;&abreve;ng k&yacute;
            |  T&agrave;i kho&#x1EA3;n
        .modal-body
          form(method='post', action='#')
            .control-group
              label.control-label.hidden.shown-ie8(for='inputUsernameRegister') T&ecirc;n &dstrok;&abreve;ng nh&#x1EAD;p
              .controls
                input#inputUsernameRegister.input-block-level(type='text', placeholder='Tên đăng nhập', required='')
            .control-group
              label.control-label.hidden.shown-ie8(for='inputEmailRegister') Email
              .controls
                input#inputEmailRegister.input-block-level(type='email', placeholder='Email', required='')
            .control-group
              label.control-label.hidden.shown-ie8(for='inputPasswordRegister') M&#x1EAD;t kh&#x1EA9;u
              .controls
                input#inputPasswordRegister.input-block-level(type='password', placeholder='Mật khẩu', required='')
            button.btn.btn-danger.input-block-level.bold.higher(type='submit')
              | &Dstrok;&Abreve;NG K&Yacute;
          p.center-align.push-down-0
            a(data-toggle='modal', role='button', href='#loginModal', data-dismiss='modal') &Dstrok;&atilde; c&oacute; t&agrave;i kho&#x1EA3;n?
      |  
      #forgotPassModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='forgotPassModalLabel', aria-hidden='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3#forgotPassModalLabel
            span.light L&#x1EA5;y l&#x1EA1;i
            |  m&#x1EAD;t kh&#x1EA9;u
        .modal-body
          form(method='post', action='#')
            p.center-align Vui l&ograve;ng nh&#x1EAD;p email c&#x1EE7;a b&#x1EA1;n &dstrok;&#x1EC3; l&#x1EA5;y l&#x1EA1;i m&#x1EAD;t kh&#x1EA9;u!
            .control-group
              label.control-label.hidden.shown-ie8(for='inputEmailRegister') Email
              .controls
                input#inputEmailRegister.input-block-level(type='email', placeholder='Email')
            button.btn.btn-primary.input-block-level.bold.higher(type='submit')
              | L&#x1EA5;y m&#x1EAD;t kh&#x1EA9;u m&#x1EDB;i
    |   
    |  
    |  
    |  
    |  
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "../../../connect.facebook.net/en_US/all.html#xfbml=1&appId=126780447403102";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    |  
    script(type='text/javascript', src='../../../ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.html')
    script(type='text/javascript').
      if (typeof jQuery == 'undefined') {
      document.write('<script src="js/jquery.min.js"><\\/script>');
      }
    |  
    script(src='js/underscore/underscore-min.js', type='text/javascript')
    |  
    script(src='js/bootstrap.min.js', type='text/javascript')
    |  
    script(src='js/rs-plugin/js/jquery.themepunch.plugins.min.js', type='text/javascript')
    script(src='js/rs-plugin/js/jquery.themepunch.revolution.min.js', type='text/javascript')
    |  
    script(src='js/jquery.carouFredSel-6.2.1-packed.js', type='text/javascript')
    |  
    script(src='js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js', type='text/javascript')
    script(src='js/jquery-ui-1.10.3/touch-fix.min.js', type='text/javascript')
    |  
    script(src='js/isotope/jquery.isotope.min.js', type='text/javascript')
    |  
    script(src='js/bootstrap-tour/build/js/bootstrap-tour.min.js', type='text/javascript')
    |  
    script(src='js/prettyphoto/js/jquery.prettyPhoto.js', type='text/javascript')
    |  
    script(type='text/javascript', src='http://maps.google.com/maps/api/js?key=AIzaSyDvMjN1g49P1MA2Onsj-GulDkmDuuH6aoU&sensor=false')
    script(type='text/javascript', src='js/goMap/js/jquery.gomap-1.3.2.min.js')
    |  
    script(src='js/custom.js', type='text/javascript')
  // Mirrored from www.proteusthemes.com/themes/webmarket-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Aug 2015 15:42:43 GMT
